.imageModalOverlay {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  inset: 0px;
}

.imageModal {
  position: absolute;
  inset: 40px;
  width: 100%;
  max-width: 1080px;
  max-height: 760px;
  margin: 0px auto;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
}

.imageModalContent {
  max-width: 1080px;
  max-height: 760px;
  display: block;
}
