.loadMoreBtn {
  background-color: #3f51b5;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  display: block;
  margin: 20px auto;
  text-align: center;
  transition: background-color 0.3s ease;
}

.loadMoreBtn:hover {
  background-color: #303f9f;
}
